.aboutimg{
    
    box-shadow: -1px 5px 15px black
}

.social i{
    color:#fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: rgb(19, 185, 226);
    margin: 0px 5px;
}

.social i:hover{
    color:#fff;
    background-color: #303bdf;
    font-size: 30px;
    transition: 1s ease;
    transform: rotate(360deg);
}

.card img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.contact-main{
    height: 700px;
    background-image: url(images/karachi.jpg);
    background-size: cover;
}

.contact-content{

border: 2px solid white;
box-shadow: -1px 5px 15px black
}

button{
    width: 170px;
    height: 50px;
    border: 0px;
    outline: none;
    background-color: #fff;
    color: rgb(19, 162, 209);
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
    /* box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4); */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    box-shadow: 0 0 12px  rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
 
    
}
.check-box svg{
    width: 40px;
    margin: 0px;
}      
svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: rgb(10, 96, 124);
    transition: 1s;
}
.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;

}

.active p{
    margin-right: 40px;
    transition: 1s;
    color: #fff;
}
.active svg path{
    stroke-dasharray: 0;
    transition: 1s;
    transition-delay: 1s;
}  

.focus input{
    background-color: aqua;
    color: white;
}

 /* .coursemain{  
 background-image: url(images/abacus4.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
 height: 200px;
    background-color: gray;
} */
.coursemain h1{
    font-size: 4rem;
    color: aqua;
    /* padding-top: 60px; */
}

.courseimage{
    height: 400px;
    background-image: url(images/abacus5.jpg);
    background-size: cover;
}
.instrutor img {
    border: 2px solid black;
}

.header{
    background-color: rgb(25, 20, 61);
    /* opacity: .8; */
    height: 450px;
    /* background-size: cover; */
}

.mainheading h1, h2{
    font-size: 3rem;
    
}

/* .header2{
    background-image: url(./images/steamtrans.png);
    background-size: contain;
    background-repeat: no-repeat;
} */
button a{
    text-decoration: none;
}
.aboutmain{
    background-color: rgb(24, 24, 71);
    opacity: .6;
    
}